.story{
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba($color-black, .1);
    background-color: rgba($color-white,0.6);
    border-radius: 3px;
    padding: 9rem;
    font-size: $default-font-size;
    color: $color-dark-grey;
    line-height: 175%;
    transform : skewX(-12deg);
    // & > *{
        
    // }
    &__shape{
        position: relative;
        width: 15rem;
        height: 15rem;
        float: left;
        shape-outside: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        transform : translateX(-3rem)  skewX(12deg);;

        @include respond(tab-port){
            float: none;
            margin : 0 auto;
            transform: skewX(0);
        }
    }

    &__image{
        height: 100%;
        transform: translateX(-4rem) scale(1.5);
        transition: all 0.5s;


    }

    &__text{
        transform : skewX(12deg);

        @include respond(tab-port){
            transform : skewX(0);
            margin-top: 2rem;
        }
    }

    &__caption{
        position: absolute;
        left: 50%;
        top : 50%;
        transform : translate(-50%,20%);
        opacity: 0;
        text-transform: uppercase;
        color : $color-white;
        font-size: 1.7rem;
        text-align: center;
        transition: all 0.5s;
    }

    &:hover &__caption{
        opacity: 1;
        transform : translate(-50%,-50%);
    }

    &:hover &__image{
        backface-visibility: hidden;
        transform: translateX(-4rem) scale(1);
        filter: blur(3px) brightness(80%);
    }

    @include respond(tab-port){
        width: 100%;
        transform: skewX(0);
    }
}

