@keyframes moveleft{
    0%{
      transform: translateX(-50%);
      opacity: 0;
    }
    80%{
      transform: translateX(10%);
      opacity: 0.9;
    }
    100%{
      transform: translateX(0%);
      opacity: 1;
    }
}

@keyframes moveright{
  0%{
      transform: translateX(50%);
      opacity: 0;
  }
  80%{
      transform: translateX(-10%);
      opacity: 0.9;
  }
  100%{
      transform: translateX(0%);
      opacity: 1;
  }
}